@use '@/styles/variables' as *;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $color-surface;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
}

textarea {
    resize: vertical;
}

button,
[type='button'],
[type='submit'],
[type='reset'] {
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    min-width: 0;
}

legend {
    padding: 0;
}

:focus-visible {
    outline: none;
    box-shadow: $focus-ring;
}

section {
    padding: $section-py-sm $section-px-sm;

    @media (min-width: $bp-md) {
        padding: $section-py-md $section-px-md;
    }

    @media (min-width: $bp-lg) {
        padding: $section-py-lg $section-px-lg;
    }
}


.container {
    width: 100%;
    max-width: $container-max;
    margin: 0 auto;
}